<ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a>
  </li>
  <li><a href="#/admin/races">Races</a>
  </li>
  <li class="active">[[race.Model.raceName]]</li>
</ol>

<h1 class="page-header">
  <span>New Race</span>
  <span class="pull-right">
    <div class="btn-group">
      <button class="btn btn-primary">Save All</button>
    </div>
  </span>
</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h3>Race Information</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Race Name Here" ng-model="race.Model.raceName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Nickname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter race nickname. Must only contain letters and digits must not have more than 10 characters" ng-model="race.Model.raceNick">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter race Description. Must not have more than 140 characters" ng-model="race.Model.raceDescription">
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">Date</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" placeholder="Enter race date" ng-model="race.Model.raceDate">
          </div>
        </div>
        <div class="form-group">
          <label   class="col-sm-2 control-label">Race EPC Header</label>
          <div class="col-sm-5">
            <input type="number" class="form-control"  placeholder="Enter EPC Header" ng=model="race.Model.raceEPCHeader">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Photo</label>
          <div class="col-sm-5">
            <input type="file" class="form-control" file-upload ng-model="race.Model.racePhoto"> 
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="btn-group">
              <button class="btn btn-primary" ng-click="saveRace()">Save All</button>
              <button class="btn btn-warning">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Waves</a>
    </div>
    <button type="button" class="btn btn-default navbar-btn" ng-click="addwave()">Add Wave</button>

    <p class="navbar-text">Wave Count: [[race.Model.waves.length]]</p>
  </div>
  <ul class="media-list">
    <li class="media" ng-repeat="wave in race.Model.waves">      
      <div class="col-md-6">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Wave Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Wave Name Here" ng-model="wave.waveName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter one line description for wave (max 140 chars)" ng-model="wave.waveDescription">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Distance</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="Enter wave distance in meters"  ng-model="wave.waveDistance">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <div class="btn-group">
                <button class="btn btn-danger" ng-click="wave.removeWave()">Delete Wave [[wave.waveName]]</button>
                <button class="btn btn-info" ng-click="wave.addSplit()">Add Split</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 panel">
        

        <form class="form-horizontal" role="form" ng-repeat="split in wave.splits">
          <div class="form-group" >
            <label class="col-sm-2 control-label">Split Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Split Name" ng-bind="split.splitName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Split Distance</label>
            <div class="col-sm-5">
              <input type="number" class="form-control" placeholder="Enter Split Distance in meters from start" ng-bind="split.splitDistance">
            </div>
            <div class="col-sm-5">
              <button class="btn btn-danger" ng-click="split.removeSplit()"> Remove</button>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
