 <ol class="breadcrumb">
  <li class="active">Dashboard</li>
  <li><a href='#/admin/postprocess'>Post Process</a></li>
  <li><a href='#/admin/users'>Users</a></li>
  <li><a href="#/admin/races">Races</a></li>
  <!--
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
-->
</ol>

<h1 class="page-header">Dashboard</h1>

<div class="row-fluid" style='margin-top:26px;'>
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <a href="#/admin/races/new" class="btn btn-primary btn-block btn-lg">Create new Race</a>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <a href="#/admin/races" class="btn btn-primary btn-block btn-lg">Manage Races</a>
      </li>
    </ul>
  </div>
</div>

