<ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a>
  </li>
  <li><a href='#/admin/postprocess'>Post Process</a></li>
  <li><a href='#/admin/users'>Users</a></li>
  <li><a href='#/admin/races'>Races</a></li>
  <li class="active">Create Race</li>
</ol>

<h1 class="page-header">
  <span>New Race</span>
  <!--
  <span class="pull-right">
    <div class="btn-group">    
      <button class="btn btn-primary">Save All</button>
    </div>
  </span>
  -->
</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h3>Race Information</h3>
      <form class="form-horizontal" role="form" name="newRaceForm">
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Race Name Here" ng-model="newrace.raceName" ng-required=true>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Nickname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter race nickname. Must only contain letters and digits must not have more than 10 characters" ng-model="newrace.raceNick" ng-required=true>
          </div>
        </div>
        <div class="form-group">  
          <label class="col-sm-2 control-label"> Race Location </label>
          <div class="col-sm-6" ng-hide='selectFromList'>
            <input type='text' class="form-control" placeholder="Enter race location here" ng-model='newrace.raceAddress' ng-required=true>
          </div>
          <div class="col-sm-6" ng-show='selectFromList'>
            <select style='padding-top: 6px; padding-bottom: 6px; width: 99%;' ng-options='location for location in locations' ng-model='newrace.raceAddress'></select>
          </div>
          <div class='col-sm-4'>
            <div class="btn-group" role="group" >              
              <button class="btn btn-primary" ng-disabled='selectFromList' ng-click="toggleSelectFromList()">Select From List</button>
              <button class="btn btn-primary" ng-disabled='!selectFromList' ng-click="toggleSelectFromList()">New Location</button>              
            </div>
          </div>
        </div>

        <!--
        <div class="form-group">
          <label class="col-sm-2 control-label">Race Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter race Description. Must not have more than 140 characters" ng-model="newrace.raceDescription">
          </div>
        </div>
        -->
        <div class="form-group">
          <label  class="col-sm-2 control-label">Date</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" placeholder="Enter race date" ng-model="newrace.raceDate" ng-required=true>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Third Party Race</label>
          <div class="col-sm-10">
            <input type="checkbox" class="checkbox" ng-model="newrace.isThirdPartyRace">
          </div>
        </div>

        <!--
        <div class="form-group">
          <label   class="col-sm-2 control-label">Race EPC Header</label>
          <div class="col-sm-5">
            <input type="number" class="form-control"  placeholder="Enter EPC Header" ng=model="newrace.raceEPCHeader">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Photo</label>
          <div class="col-sm-5">
            <input type="file" class="form-control" file-upload ng-model="newrace.racePhoto"> 
          </div>
        </div>
        -->
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="btn-group">
              <button class="btn btn-primary" ng-disabled='!newRaceForm.$valid' ng-click="saveRace()">Save New Race</button>              
              <!--<button class="btn btn-warning">Reset</button>-->
            </div>
            <div class='alert alert-warning' style='margin-top:5px; width:50%;' ng-hide="newRaceForm.$valid">All fields are required to create new race.</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Waves</a>
    </div>
    <button type="button" class="btn btn-default navbar-btn" ng-click="addwave()">Add Wave</button>

    <p class="navbar-text">Wave Count: [[newrace.waves.length]]</p>
  </div>
  <ul class="media-list">
    <li class="media" ng-repeat="wave in newrace.waves">      
      <div class="col-md-6">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Wave Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Wave Name Here" ng-model="wave.waveName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter one line description for wave (max 140 chars)" ng-model="wave.waveDescription">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Distance</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="Enter wave distance in meters"  ng-model="wave.waveDistance">
            </div>
          </div>
          <div class="form-group" ng-show="newrace.isThirdPartyRace">
            <label for="waveThirdPartyUrl" class="col-sm-2 control-label">Wave URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Wave Third Party URL"  ng-model="wave.thirdPartyWaveUrl">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <div class="btn-group">
                <button class="btn btn-danger" ng-click="wave.removeWave()">Delete Wave [[wave.waveName]]</button>
                <button class="btn btn-info" ng-click="wave.addSplit()">Add Split</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 panel">
        

        <form class="form-horizontal" role="form" ng-repeat="split in wave.splits">
          <div class="form-group" >
            <label class="col-sm-2 control-label">Split Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Split Name" ng-model="split.splitName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Split Distance</label>
            <div class="col-sm-5">
              <input type="number" class="form-control" placeholder="Enter Split Distance in meters from start" ng-model="split.splitDistance">
            </div>
            <div class="col-sm-5">
              <button class="btn btn-danger" ng-click="split.removeSplit()"> Remove</button>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>

</div>
