<ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a>
  </li>
  <li class="active">Post Process</li>
  <li><a href="#/admin/users">Users</a>
  </li>
  <li><a href="#/admin/races">Races</a>
  </li>    
</ol>

<div class="container-fluid">
  <h3> Controls </h3>
  <hr/>

  <div class="row">
    <label class="col-sm-2 control-label">Wave Name</label>
    <div class="col-sm-6">
      <input type="text" step="1" class="form-control" placeholder="Wave Name" ng-model="waveName">
    </div>
  </div>  
  
  <br/>

  <div class="row">            
    <label class="col-sm-2 control-label">Race Date </label>
    <div class="col-sm-6">
      <input type="text" step="1" class="form-control" placeholder="Select Race Date" ng-model="postprocessdata.date"></input>
    </div> 

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">Select Race Date</button>
      <ul class="dropdown-menu" role="menu">
          <datetimepicker data-ng-model="postprocessdata.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }"></datetimepicker>
      </ul>
    </div>
  </div>
  
  <br/>
  
  <div class="row">
    <label class="col-sm-2 control-label">Start Time </label>
    <div class="col-sm-6">
      <input type="text" step="1" class="form-control" placeholder="06:00:00 AM" ng-model="postprocessdata.waveStart">
    </div>
  </div>
  
  <br/>
  
  <div class="row">
    <label class="col-sm-2 control-label">Laps </label>
    <div class="col-sm-6">
      <input type="text" step="1" class="form-control" placeholder="1" ng-model="postprocessdata.waveLaps">
    </div>
  </div>
  
  <br/>
  
  <div class="row">            
    <div class="col-sm-6">
      <button class="btn btn-primary" ng-click ="setWaveStart()"> Set Wave Details </button>
    </div> 
  </div>
  
  <br/>

  <h3> Uploads </h3>
  <hr>

  <div class="row">                        
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Upload Entry List
        </label>
        <div class="col-sm-8">
          <input type="file" class="form-control" file-upload file-type="entrylist"> 
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-primary" ng-click="uploadEntryList()">Upload Entry List</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">                        
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Upload CSV Detections
        </label>
        <div class="col-sm-8">
          <input type="file" class="form-control" file-upload file-type="detections"> 
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-primary" ng-disabled="disableUpload" ng-click="uploadDetections()">Upload Detections</button>                
          <button class="btn btn-primary" ng-disabled="disableProcess" ng-show=false ng-click="processDetections()">Process Detections</button>                
          <button class="btn btn-primary" ng-disabled="disableProcess" ng-click="downloadResults()">Download Detections</button>                
        </div>
      </div>
    </form>
  </div>

  <br/>
  
  <h3> Processing </h3>       
  <hr/>
  
  <div class="row" ng-show="showProcessing">            
    <h5> Sort By
      <select ng-model="sortByWhat">
        <option>EPC</option>
        <option>Start</option>
        <option>Finish</option>
      </select>
    </h5>
    <table class="table table-condensed">
      <thead >
        <th> EPC </th>                
        <th> Start </th>                
        <th ng-repeat='lap in display.Laps'> [[lap.Lap]] </th>
        <th> Finish </th>
        <th> All Detections </th>
        <th> Action </th>
      </thead>
      <tbody table-data="display" ng-repeat='display in forDisplay | orderBy:sortByWhat'>                  
      </tbody>
    </table>
  </div>
</div> 