<ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a>
  </li>
  <li><a href='#/admin/postprocess'>Post Process</a></li>
  <li><a href='#/admin/users'>Users</a></li>
  <li class="active">Races</li>
</ol>

<h1 class="page-header">Your races</h1>

<div class="row-fluid">
  <div class="col-md-5">
    <ul class="media-list">
      <li class="media">
        <a href="#/admin/races/new" class="btn btn-primary">Create new Race</a>        
        <button ng-hide=true ng-click="createRunnerText()" class="btn btn-primary"> Create Runner Text </button>
      </li>
      <li class="media" ng-repeat="race in races">
        <div class="media-body">
          <a href="#/admin/race/[[race.Model.raceId]]">
            <h4 class="media-heading">
              [[race.Model.raceName]]
              
            </h4>
            <span ng-show="race.Model.published" class="label label-success">Results Published</span>
            <span ng-hide="race.Model.published" class="label label-default">Not Published</span>
            <span ng-show="race.Model.upcoming && !race.Model.published" class="label label-primary">Visible</span>
            <span ng-hide="race.Model.upcoming || race.Model.published" class="label label-default">Not Visible</span>
          </a>
          [[race.Model.raceDate]]
        </div>
      </li>
    </ul>
  </div>
</div>
