 <ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a></li>
  <li><a href='#/admin/postprocess'>Post Process</a></li>
  <li><a href='#/admin/users'>Users</a></li>
  <li><a href="#/admin/races">Races</a></li>
  <li class="active">[[race.Model.raceName]]</li>
</ol>

<h1 class="page-header">
  <span>[[race.Model.raceName]] <span class="label label-success">Total Runners: [[race.totalRunners]]</span></span>
  <span class="pull-right">
    <div class="btn-group">
      <button ng-hide=true class="btn btn-primary btn-sm">Edit [[race.Model.raceName]]</button>
      <button class="btn btn-danger btn-sm" ng-click="deleteRace()">Delete [[race.Model.raceName]]</button>
    </div>
  </span>
</h1>

<!--
<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-md-6">

      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel-primary panel">
            <div class="panel-heading"> 
              <strong>Race Visibility controls</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-5 control-label"> Race Visibility
                  </label>
                  <div class="col-sm-7">
                    <button class="btn btn-primary" ng-click="toggleUpcoming()">[[upcomingStatus]]</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label"> Results Visibility
                  </label>
                  <div class="col-sm-7">
                    <button class="btn btn-primary" ng-click="togglePublished()">[[publishedStatus]]</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <div class='row'>
        <div class='col-sm-12'>      
          <div class="panel-primary panel">
            <div class="panel-heading"> 
              <strong>Race Details</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-4 control-label"> Hide Rank
                  </label>
                  <div class="col-sm-8">
                    <button class="btn btn-primary" ng-click="toggleHideRank()">[[hideRankStatus]]</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label"> Race Location </label>
                  <div class="col-sm-4" ng-hide='editMode'>
                    <input type='text' ng-model='race.Model.raceAddress' ng-disabled='true'>
                  </div>
                  <div class="col-sm-4" ng-show='editMode && !selectFromList'>
                    <input type='text' ng-model='newAddress'>
                  </div>
                  <div class="col-sm-4" ng-show='editMode && selectFromList'>
                    <select style='padding-top: 6px; padding-bottom: 6px; width: 99%;' ng-options='location for location in locations' ng-model='newAddress'></select>
                  </div>
                  <div class='col-sm-4'>
                    <div class="btn-group" role="group" >
                      <button class='btn btn-primary' ng-show='editMode' ng-click='updateRaceAddress(newAddress)'>Save</button>
                      <button class="btn btn-primary" ng-hide='editMode' ng-click="setEditMode()">Edit</button>
                      <button class="btn btn-primary" ng-disabled='!editMode' ng-click="hideSelectList()">New</button>
                      <button class="btn btn-danger" ng-disabled='!editMode' ng-click="resetEditMode()">x</button>
                    </div>
                  </div>                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      
      <div class='row'>
        <div class='col-md-12'>
          <div class="panel-primary panel">
            <div class="panel-heading">
              <strong>Bib controls</strong>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Uploaded Bibs</dt>
                <dd>[[uploadedBibs]]</dd>
                <dt>Activated Bibs</dt>
                <dd>[[activatedBibs]]</dd>
              </dl>
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-2 control-label">Upload Bibs
                  </label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" file-upload file-type="bibs"> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn btn-primary"  ng-click="uploadBibs()">Upload Bibs</button>
                    <button class="btn btn-info" ng-click="downloadCodes()">Download Activation Codes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class="panel-primary panel">
            <div class="panel-heading">
              <strong>Upload Race Photo</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Race Photo
                  </label>
                  <div class="col-sm-6">
                    <input type="file" class="form-control" file-type="racePhoto" file-upload> 
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-warning" ng-click="uploadRacePhoto(race.Model.raceNick)"> Upload Banner </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- Race Details Container -->
<div class="container-fluid" style='background: rgba(0,0,0,0.21); padding:26px; margin-bottom:20px; border-radius:10px;'>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand"> Race Details</a>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-6">
      <!-- race visibility -->
      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel-primary panel">
            <div class="panel-heading"> 
              <strong>Race Visibility controls</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-5 control-label"> Race Visibility
                  </label>
                  <div class="col-sm-7">
                    <button class="btn btn-primary" ng-click="toggleUpcoming()">[[upcomingStatus]]</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label"> Results Visibility
                  </label>
                  <div class="col-sm-7">
                    <button class="btn btn-primary" ng-click="togglePublished()">[[publishedStatus]]</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label"> Hide Rank
                  </label>
                  <div class="col-sm-7">
                    <button class="btn btn-primary" ng-click="toggleHideRank()">[[hideRankStatus]]</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>        
    </div>

    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class="panel-primary panel">
            <div class="panel-heading">
              <strong>Photo controls</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Race Photo</label>
                  <div class="col-sm-6">
                    <input type="file" class="form-control" file-type="racePhoto" file-upload> 
                  </div>
                  <div class="col-sm-1">
                    <button class="btn btn-warning" ng-click="uploadRacePhoto(race.Model.raceNick)"> Upload </button>
                  </div>
                </div>
              </form>

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Race Ads</label>
                  <div class="col-sm-6">
                    <input type="file" class="form-control" file-type="raceAds" file-upload>
                  </div>
                  <div class="col-sm-1">
                    <!--<button class="btn btn-warning" ng-click="uploadRacePhoto(race.Model.raceNick)"> Upload </button>-->
                    <button class="btn btn-warning" ng-disabled="true"> Upload </button>
                  </div>
                </div>
              </form>

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Race Promo</label>
                  <div class="col-sm-6">
                    <input type="file" class="form-control" file-type="racePromo" file-upload> 
                  </div>
                  <div class="col-sm-1">
                    <!--<button class="btn btn-warning" ng-click="uploadRacePhoto(race.Model.raceNick)"> Upload </button>-->
                    <button class="btn btn-warning" ng-disabled="true"> Upload </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-12'>
       <!-- race details -->
      <div class='row'>
        <div class='col-sm-12'>      
          <div class="panel-primary panel">
            <div class="panel-heading"> 
              <strong>Race Details</strong>
            </div>
            <div class="panel-body">

              <div class='col-md-12'>
                <div class='row'>
                  <form class="form-horizontal" role="form">
                    <div class="form-group">  
                      <label class="col-sm-2 control-label"> Race Location </label>
                      <div class="col-sm-4" ng-hide='editMode'>
                        <input type='text' class="form-control" ng-model='race.Model.raceAddress' ng-disabled='true'>
                      </div>
                      <div class="col-sm-4" ng-show='editMode && !selectFromList'>
                        <input type='text' name="newAddress" class="form-control" ng-model='newAddress'>
                      </div>
                      <div class="col-sm-4" ng-show='editMode && selectFromList'>
                        <select style='padding-top: 6px; padding-bottom: 6px; width: 99%;' ng-options='location for location in locations' ng-model='newAddress'></select>
                      </div>
                      <div class='col-sm-4'>
                        <div class="btn-group" role="group" >
                          <button class='btn btn-primary' ng-show='editMode' ng-click='updateRaceAddress(newAddress)'>Save</button>
                          <button class="btn btn-primary" ng-hide='editMode' ng-click="setEditMode()">Edit</button>
                          <button class="btn btn-primary" ng-disabled='!editMode' ng-click="hideSelectList()">New</button>
                          <button class="btn btn-danger" ng-disabled='!editMode' ng-click="resetEditMode()">x</button>
                        </div>
                      </div>                
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Race Date </label>

                      <div class="col-sm-4" ng-show="editRaceDateMode">
                        <input type="date" name="newDate" class="form-control" placeholder="Enter race date" ng-model="newDate">
                      </div>

                      <div class="col-sm-4" ng-hide="editRaceDateMode">
                        <input type='text' class="form-control" ng-model='race.Model.raceDate' ng-disabled='true'>
                      </div>

                      <div class='col-sm-4'>
                        <div class="btn-group" role="group" >
                          <button class='btn btn-primary' ng-show='editRaceDateMode' ng-click='updateRaceDate(newDate)'>Save</button>
                          <button class="btn btn-primary" ng-hide='editRaceDateMode' ng-click="setEditRaceDateMode()">Edit</button>
                          <button class="btn btn-danger" ng-disabled='!editRaceDateMode' ng-click="resetEditRaceDateMode()">x</button>
                        </div>
                      </div>


                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Registration Details </label>
                      <div class="col-sm-4">
                        <input type='text' class="form-control" placeholder="Reg fee" ng-disabled='true'>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Registration Locations </label>
                      <div class="col-sm-4" >
                        <input type='text' class="form-control" placeholder="Reg locations" ng-disabled='true'>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Official Website </label>
                      <div class="col-sm-4">
                        <input type='text' class="form-control" placeholder="Race website" ng-disabled='true'>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Search Tags </label>
                      <div class="col-sm-4">
                        <input type='text' class="form-control" placeholder="Comma separated tags" ng-disabled='true'>
                      </div>
                    </div>

                  </form>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Bib Details Container -->
<div class="container-fluid" style='background: rgba(0,0,0,0.21); padding:26px; margin-bottom:20px; border-radius:10px;'>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand"> Bib Details</a>
    </div>
  </div>

   <!-- bib controls -->
  <div class='row'>
    <div class='col-md-6'>
      <div class="panel-primary panel">
        <div class="panel-heading">
          <strong>Bib controls</strong>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Uploaded Bibs</dt>
            <dd>[[uploadedBibs]]</dd>
            <dt>Activated Bibs</dt>
            <dd>[[activatedBibs]]</dd>
          </dl>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Upload Bibs
              </label>
              <div class="col-sm-10">
                <input type="file" class="form-control" file-upload file-type="bibs"> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary"  ng-click="uploadBibs()">Upload Bibs</button>
                <button class="btn btn-info" ng-click="downloadCodes()">Download Activation Codes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Wave Details Container -->
<div class="container-fluid" style='background: rgba(0,0,0,0.21); padding:26px; margin-bottom:20px; border-radius:10px;'>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand">Wave Details</a>
    </div>
    <p class="navbar-text">Wave Count: [[race.Model.waves.length]]</p>
    <button type="button" class="btn btn-default navbar-btn" ng-click="addwave()">Add Wave</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="saveAllDetails(race.Model)">Save All</button>
  </div>

  <ul class="media-list">
    <li class="media  panel-primary panel" ng-repeat="wave in race.Model.waves">      
      <div class="panel-heading">
        <strong>[[wave.waveName]] Wave Controls</strong>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Wave distance:<dt>
            <dd>[[wave.waveDistance]] meters</dd>
            <dt>Number of splits:<dt>
            <dd>[[wave.splits.length]]</dd>
            <dt>Total Runners:</dt>
            <dd>[[wave.totalRunners]]</dd>
            <dt>Fastest Time:</dt>
            <dd>[[SecondsToTimeString(wave.runners[0].o)]]</dd>
          </dl>
        </div>
        <div class="col-md-6">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Start Time
              </label>
              <div class="col-sm-6">
                <input type="text" step="1" class="form-control" placeholder="06:00:00 AM" ng-model="wave.waveStartHolder">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" ng-click="wave.setStart()"> Set Start Time </button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Results
              </label>
              <div class="col-sm-6">
                <input type="file" class="form-control"   file-type="resultFile" wave-attr = "[[wave.waveId]]" file-upload> 
              </div>
              <div class="col-sm-2">
                <button class="btn btn-warning" ng-click="uploadResults(wave.waveId)"> Upload Results </button>
              </div>
            </div>
            <div class="form-group" ng-show="race.Model.isThirdPartyRace">
              <label class="col-sm-2 control-label"> Wave URL </label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter Wave Third Party URL"  ng-model="wave.thirdPartyWaveUrl">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" ng-click="updateWaveUrl(race.Model.raceId, wave)"> Update Wave URL </button>
              </div>
            </div>            
          </form>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" ng-show="wave.waveId" ng-click="toggleWaveDetails(wave.waveId)">Toggle Wave Details </button>          
        </div>
        <div class="col-md-8" id="waveDetails[[wave.waveId]]" style="display:none;">
          <div>
            <br/>
            <button class="btn btn-primary" ng-show="wave.waveId" ng-click="saveWaveDetails(wave, race.Model.raceId)"> Save Changes </button>
            <label class="label label-info"> Reupload Results to Reflect Change on Splits! :P </label>                  
            <form class="form-horizontal" role="form">
              <br/>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Wave Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Enter Wave Name Here" ng-model="wave.waveName">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Enter one line description for wave (max 140 chars)" ng-model="wave.waveDescription">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Distance</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" placeholder="Enter wave distance in meters"  ng-model="wave.waveDistance">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <div class="btn-group">
                    <button class="btn btn-danger" ng-click="wave.removeWave()" ng-hide=false> Delete Wave [[wave.waveName]]</button>
                    <button class="btn btn-info" ng-click="wave.addSplit()">Add Split</button>
                  </div>
                </div>
              </div>
            </form>            
            <form class="form-horizontal" role="form" ng-repeat="split in wave.splits">
              <div class="form-group" >
                <label class="col-sm-2 control-label">Split Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Enter Split Name" ng-model="split.splitName">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Split Distance</label>
                <div class="col-sm-5">
                  <input type="number" class="form-control" placeholder="Enter Split Distance in meters from start" ng-model="split.splitDistance">
                </div>
                <div class="col-sm-5">
                  <button class="btn btn-danger" ng-click="split.removeSplit()"> Remove</button>
                </div>
              </div>
            </form>
          </div>          
        </div>
      </div>
    </li>
  </ul>
</div>
