 <ol class="breadcrumb">
  <li><a href="#/admin">Dashboard</a></li>
  <li><a href='#/admin/postprocess'>Post Process</a></li>
  <li class="active">Users</li>
  <li><a href="#/admin/races">Races</a></li>
</ol>

<h1 class="page-header"> Create New Super Admin</h1>
<div>
	<form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-2 control-label"> First Name </label>
      <div class="col-md-4">
        <input class="form-control" type="name" ng-disabled=true ng-model="data.firstName"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label"> Last Name </label>
      <div class="col-md-4">
        <input class="form-control" type="name" ng-disabled=true ng-model="data.lastName"></input>
      </div>
    </div>
		<div class="form-group">
			<label class="col-md-2 control-label"> Email </label>
			<div class="col-md-4">
				<input class="form-control" type="email" ng-disabled=true ng-model="data.inputEmail"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"> Password </label>
			<div class="col-md-4">
				<input class="form-control" type="password" ng-disabled=true ng-model="data.inputPassword" ng-minlength="6"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"> Validate Password </label>
			<div class="col-md-4">
				<input class="form-control" type="password" ng-minlength="6" ng-disabled=true ng-model="data.validatePassword"></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-md-offset-2">
				<button class="form-control btn btn-primary" ng-disabled=true ng-click="validateAndSubmit(data)"> Create </button>
			</div>
		</div>
	</form> 
</div>