@font-face {
  font-family: LeagueGothic-Regular;
  src: url('../fonts/LeagueGothic-Regular.otf');
}

@font-face {
  font-family: LeagueGothic-Italic;
  src: url('../fonts/LeagueGothic-Italic.otf');
}

@font-face {
  font-family: LeagueGothic-CondensedRegular;
  src: url('../fonts/LeagueGothic-CondensedRegular.otf');
}

@font-face {
  font-family: LeagueGothic-CondensedItalic;
  src: url('../fonts/LeagueGothic-CondensedItalic.otf');
}


@font-face {
  font-family: Trade_Gothic;
  src: url('../fonts/TradeGothicLTStd-BdCn20.otf');
}

@font-face {
  font-family: Trade_Gothic_Light;
  src: url('../fonts/TradeGothicLTStd-Light.otf');
}

@font-face {
  font-family: Trade_Gothic_Condensed;
  src: url('../fonts/TradeGothicLTStd-Cn18.otf');
}

.custom-alert{
  margin-top:5px; 
  margin-bottom:0; 
  padding-top:5px; 
  padding-bottom:5px;
}

.form-group {
  font-size: 11px !important;
}

.hero-unit{
  background-color: #4c453d;
}

h1 > span.label{
  font-weight: 100;
  vertical-align:super;
  font-size: 50%;
  padding: .2em .6em;
}

.navbar{
  min-height: 100px;
  background-color: #FFFFFF;
  background-image: none;
  top:0px;
  margin: 0px;
}

.paulo1{
  position: relative;
  float: left;
}

.myruntime-nav{
  padding-top: 10px;
  padding-left: 50px;

}

.navbar .nav > li > a { 
  color: #1e4d66; 
  font-weight: normal;
}

.navbar .nav > li > a:hover { 
  color: #FF6B24;
}

.myruntime-nav li a{
  font-family: 'LeagueGothic-CondensedRegular' , Arial, sans-serif;
  font-size: 35px;
  line-height: 40px;
}

.account  > a{
  color: #FF6B24 !important; 
  font-weight: normal !important;
  border-left-style: solid;
  border-left-width: medium;
  border-left-color: #FF6B24;
}

.navbar-inner{
  background-image: none;
  box-shadow: none;

}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{
  font-weight: normal;
}

.orange-background{
  background-color: #FF6B24;  
  padding: 20px 0px 50px 0px;
  color: #FFF;
}

.orange-background-left{
  background-color: #FF6B24;  
  padding: 20px 0px 50px 0px;
  height: 502px;
}

.white-background{
  width: 100%;
  background-color: #FFF;
  color: #FF6B24;  
}

.light-orange-background{
  width: 100%;
  background-color: #ffb490;
  color: #0a4667;
  opacity:0.8;
}

.white-container{
  width: 100%;
  background-color: #FFF;
  padding: 20px 0px 50px 0px;
  color: #FF6B24;
}

.lightorange-container{
  width: 100%;
  background-color: #ffb490;
  padding: 20px 0px 50px 0px;
  color: #0a4667;
}

.orange-container{
  background-color: #FF6B24;
  width: 100%;
  padding: 20px 0px 50px 0px;
  color: #FFF;
}

.blue-container{
  background-color: #138dce;
  width: 100%;
  padding: 20px 0px 50px 0px;
  color: #FFF;
}

.white-container p{
  color: #2167a5;
}


/*index elements */
#floatinglikebutton{  
  background-color: #138dce;
  position: fixed;
  right: 0;
  height:40px;
  top: 150px;
  z-index: 201;
  overflow: hidden;  
}

#sidelikesegment{  
  background-color: #138dce;
  position:fixed;
  right:0;
  top:136px;
  width:390px;  
  z-index: 200;
}

.sideSegmentText{
  color:#FFF;
}

.closeSideSegment{  
  position:fixed;
  right:7px;
  top:155px;
}


/*Profile */
#dashboard-header{
  margin-top: 30px;
  font-family: Trade_Gothic , Arial, sans-serif;
  font-size: 16px;
  background-color: #ffb490;
  color: #0a4667;
}

.dashboard-menu{
  height: 98px;
}

.dashboard-icon{ 
  color: #0a4667; 
}

#calorie-help-button{
  position: absolute;
  top: 22%;
  left:79%;
  color: #ffb490;
  background-color: white;
}

#calorie-help-button2{    
  position: absolute;
  top: 22%;
  left:93%;
  color: #ffb490;
  background-color: white;
}

#help-weight-icon{
  margin-top:4px;
  height:18px;
}

#help-weight-icon2{
  margin-top:4px;
  height:18px;
}

#overlay-form{
position: absolute;
border: 5px solid gray;
padding: 10px;
background: white;
width: 270px;
height: 150px;
}

.profile-buttons{
  height:40px;
  width:250px;
  margin:5px;
  margin-left:20px;
}

#profile-fbImage{
  margin-top: 15px;
}

#profile-fbshare-upcoming-button{
  float:right;
  position:relative;    
  top: 45px;
  right: 0px;
  height: 40px;
}

#profile-upcoming-disconnect-button{
  float:right;
  position:relative;    
  top: -15px;
  right: -5px;
  height: 40px;
  z-index: 1;
}

#profile-disconnect-button{
  float:right;
  position:relative;    
  top: 25px;
  right: -5px;
  height: 40px;
  z-index: 1;
}

#profile-fbshare-button{
  float:right;
  position:relative;    
  top: -20px;
  right: -107px;
  height: 40px;
  z-index: 1;
}

#profile-tweet-button{  
  float:right;
  position:relative;  
  height:40px;
  top: -20px;
  right: -200px; 
  z-index: 1;
}

#friendsListModal{  
  display:block;
  position:fixed;
  top:50%;
  left:0%;
  margin:auto;
  width: 470px;
  height:400px;
  overflow-y:hidden;
}

#friends-modal-header{
  width: 425px;
  background-color: #ffb490;
  color: #0a4667;
}

#friends-modal-content{
  height:250px;
  background-color:white;
  padding:0px 0px 0px 0px;
}

#friends-modal-segment{  
  height: 250px;
  width: 425px;
  overflow-y: auto;
  overflow-x:hidden;
  background-color: #ffb490;
  color: #0a4667;
}

.friends-content{
  height:250px;
  overflow-y: auto;
  overflow-x:hidden;
}

.achievements-list{
  padding-top:10px;
  text-align: center;
}

.friends-list{
  padding-top:10px;
  text-align: center;
}

#friends-container{
  margin-bottom:20px;
}

#friends-links{
  margin-left:10%;
}

.image-badge{
  margin-left:15px;
}

.badge-label{
  display: inline; 
  font-size:1.4em;
  margin-left:5px;
  text-align:justify;
  /*color:#138dce;*/
}

/*Runner Results Page*/
.result-hover-div{ 
  margin-top: 10px;
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.7;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top: 5%;
    left: 100px;
    width:100%;
    height:80%;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

#fb-image-runner-result{
  width:100% !important;
  margin-left:10px;
}

#result-fbshare-button{
  position:fixed;
  height: 40px;
  top: 105px;
  right: 0px;
}

#result-tweet-button{
  position:fixed;    
  height:40px;
  top: 180px;
  right: 0px; 
}

.medal-image{
  height:20px;
  margin-left:2px;
}

#medal-placeholder{
  position:absolute;
  left:30px;
  top: 20px;
}

#user-icon-indicator{
  margin-left:25%;
  opacity:0.9;
  width:100%;  
  background-color:#138dce;
}

#waveresults-loading-icon{
  float: none;
  margin:: 0 auto;
}

#waveresult_table th{
  text-align:left;
}

#waveresult_table tr{
  background-color: #FF6B24;  
  border-color:#FF6B24;
}

#waveresult_table_wrapper select { 
  /*
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('/images/sort_desc.png') no-repeat;
  background-position: 19px 5px;
  text-indent: 0.01px;
  text-overflow: "";
  font-weight: bolder;
  color: #138dce;
  */
}


#forprintrestultwrapper{
  display:none;
}

/*Gallery*/
#gallery-tweet-button{
  margin-left:14px;
}

#gallery-downloadimage-button{
  margin-left:7px;
}

#gallery-fbshare-button{
  margin-left:7px;
}

#connect-popup{
  position: fixed;
  top:200px;
  left:50px;
  width:330px;
  z-index: 1;
}
.gallery-thumbnail-container{
  width:210px;
  height:300px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-thumbnail{
  max-width: 100%;
  max-height: 100%;
}

h4.gallery-racename{
  font-family: Trade_Gothic, Arial, sans-serif;
  font-size:21px;
}

.gallery-image img{
  height:235px;
  margin:5px;
  background-color:white;
}

.profile-taggedphoto{
  height:235px;
  margin:10px;
  padding:5px;
  background-color:white;
}


/*Others*/

.align-justify{
  text-align:justify;
}
.blueusericon{
  color: #138dce;
}

#photo-gallery-button{
  width:50%;
}

#connect-popup-header{
  margin-top:0px;
}

#connect-popup-remove{
  position: relative;
  float:right;
}

.lazy{
  display:none;
}

.sitemap-footer{
  margin-left:100px;
}

#printfooter{
  display:none;
}

.text-justified-container{
  text-align:justify;  
}

h1{
  font-weight: normal;
  font-family: LeagueGothic-Regular, Arial, sans-serif;
  font-size: 50px;
  line-height: 80px;
}

h2, h3{
  font-family: Trade_Gothic, Arial, sans-serif;
  font-weight: normal;
}

h4, h5{
  font-family: Trade_Gothic_Light, Arial, sans-serif;
  font-weight: normal; 
}

a{
  color: inherit;
}

.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}

.myCarousel1 .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.myCarousel1 .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.racephoto-container{
  width: 700px;
  height: 150px;
  position: relative;
  float: left;
}

.racephoto{
  max-width:600px; 
  width:100%;
}

p.data{
  font-size:12px;
  line-height: 13px;
  margin-bottom: 7px;
}

.racepic{
  margin-left: 0px;
  width: 100%;
  position: relative;
}

.myrace {
  width:  100%;
  margin: 15px 5px;
  padding: 10px;
  border-color: #0a4667;
  border-style: solid;
  border-width: medium;
}

.myupcomingrace {
  width:  100%;
  margin: 10px 5px;
  padding: 10px;
  border-color: #ff6b24;
  border-style: solid;
  border-width: medium;
}

.myupcomingrace .bib, .myupcomingrace .plot, .myupcomingrace .plot > p{
  background-color: #ffa77d;
  color: #0a4667;
}

.myupcomingrace :hover{
  background-color: #ff6b24;
}

.myupcomingrace .plot > p :hover{
  background-color: #ff6b24; 
}


.myrace :hover{
  background-color: #3278B6;
}

.myupcomingrace .pic{
  background-color: #ffa77d;
}

.bib{
  width: 20%;
  text-align: center;
  background-color: #2167a5;
  color: #EEE;
}

.pic{
  padding: 0px;
  width: 40%;
  background-color: #0a4667;
  text-align: center;
}
  
.plot{
  padding: 10px;
  width: 40%;
  background-color: #0a4667;
  color: #EEE;
}

.plot > p{
  font-family: Trade_Gothic, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #EEE; 
}

.trade{
  font-family: Trade_Gothic_Light, Arial, sans-serif;
  font-size: 16px;
}


.trade_heavy{
  font-family: Trade_Gothic, Arial, sans-serif;
  font-size: 16px;
}

.orange-container .table tbody tr:hover td,.orange-container  .table tbody tr:hover th{
  background-color: #0a4667;
  cursor: pointer;
}

.racename-header{
  margin-bottom:0px;
}

.racedate-header{
  margin-top:0px;
}

.race-status-label{
  height:36px;
  width:158px;
}

.race-page-buttons{
  width:158px;
}

.ui.green.label{
  background-color: #5BBD72 !important;  
  padding-top: 10px;
  text-transform: capitalize;
  font-size: 1.375rem;
  font-weight:bold;
  margin-left:0px;
}

.ui.button{
  text-transform: capitalize;
}

.hoverhand{
  cursor: pointer;
}

body{
  background-color: #FFF;
}

.table-responsive>.table {
  margin-bottom: 0;
  background-color: inherit;
}

.btn-facebook {
  color: #ffffff;
  background-color: #133783;
  border-color: #133783;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #0e285f;
  border-color: #0b214e;
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #133783;
  border-color: #133783;
}

.btn-twitter {
  color: #ffffff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #2095c0;
  border-color: #014d82;
}

.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}

.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #2daddc;
  border-color: #0271bf;
}

@media(min-width:992px){
  .form-group {
    font-size: 15px !important;
  }
  .overlay-message{
    width: 50%;
  }
  #mobile-dashboard-div{
    display:none;
  }

  #ig-mobile-carousel{
    display:none;
  }
}

@media(min-width:768px) and (max-width:991px){
  .overlay-message{
    left:10px;
    width: 90%;
  }
  #desktop-dashboard-div{
    display:none;
  }

  #ig-mobile-carousel{
    display:none;
  }

  .form-group {
    font-size: 15px !important;
  }
}

@media(max-width:767px){
  .overlay-message{
    left:10px;
    width: 90%;
  }

  h2, h3{
    font-size:17px;
  
  }

  h4, h5{
    font-size:15px;
  }

  h1 {
      font-size: 20px;
  }

  p{
    font-size:10px;
  }

  .plot > p{
    font-size: 14px;
  }

  #desktop-dashboard-div{
    display:none;
  }

  #ig-desktop-carousel{
    display:none;
  }

  .dashboard-menu{
    margin:auto;
    width:100%;
  }

  .centered{
    text-align:center;
  }

  .sitemap-footer{
    display:none;
  }

  .footer-entry{
    margin-top:25px;
  }

  .sitemap-footer{
    margin-left:0px;
  }

  #floatinglikebutton{
    display:none;
  }

  .gallery-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-taggedphoto img{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .racephoto{
    max-width:70%;
  }

  .navbar-brand{
    max-width:80%;
  }

  .myruntime-nav li a{
    font-family: 'LeagueGothic-CondensedRegular' , Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
  }

}

