.nav-collapse, .noprint{
  display: none;
}

body{
  color:black; margin:0;
}

.orange-container{
  width: 100%; margin: 0; float: none;
}

a:link, a:visited
{
  color: black;
  text-decoration: none;
}

th, td {
  padding: 4px 4px 4px 4px;
  text-align: left;
}
@font-face {
  font-family: LeagueGothic-Regular;
  src: url('../fonts/LeagueGothic-Regular.otf');
}

@font-face {
  font-family: LeagueGothic-Italic;
  src: url('../fonts/LeagueGothic-Italic.otf');
}

@font-face {
  font-family: LeagueGothic-CondensedRegular;
  src: url('../fonts/LeagueGothic-CondensedRegular.otf');
}

@font-face {
  font-family: LeagueGothic-CondensedItalic;
  src: url('../fonts/LeagueGothic-CondensedItalic.otf');
}


@font-face {
  font-family: Trade_Gothic;
  src: url('../fonts/TradeGothicLTStd-BdCn20.otf');
}

@font-face {
  font-family: Trade_Gothic_Light;
  src: url('../fonts/TradeGothicLTStd-Light.otf');
}

@font-face {
  font-family: Trade_Gothic_Condensed;
  src: url('../fonts/TradeGothicLTStd-Cn18.otf');
}


@font-face {
  font-family: Bebas_Neue;
  src: url('../fonts/BebasNeue.otf');
}


#forprintrestultwrapper table{
  page-break-inside:auto;
}

#forprintrestultwrapper tr{  
  page-break-inside:avoid; 
  page-break-after:auto; 
}

#forprintrestultwrapper td{  
  page-break-inside:avoid; 
  page-break-after:auto; 
}


#forprintrestultwrapper thead{
  display:table-header-group
}
