<div class="orange-container">
  <div class="container">
    <div class="row"> 
      <div class="col-md-7">
        <h3>Administration Login
          <hr class="col-md-12">
          <!--<form role="form" action="/adminlogin" method="post" id="login" class="form-horizontal">-->
          <form role="form" data-ng-submit='signin()' method="post" id="login" class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail" class="col-md-4 control-label">Login</label>
              <div class="col-md-8">
                <input type="email" name="email" id="inputEmail" class="form-control" data-ng-model='credentials.email'>
              </div>
            </div>
            <div class="form-group"> 
              <label for="inputPassword" class="col-md-4 control-label">Password</label>
              <div class="col-md-8">
                <input type="password" name="password" id="inputPassword" class="col-md-8 form-control" data-ng-model='credentials.password'>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                <button type="submit" ng-disabled='loading' class="form-control btn btn-primary ">Login</button>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-4">
              <div data-ng-show="loading" class="alert alert-info" style='margin-top:15px; margin-bottom:15px;'>
                <i class='fa fa-spinner fa-spin'></i> &nbsp; <strong> Authenticating... </strong>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-4">
              <div data-ng-show='error' class='text-center alert alert-danger' style='margin-top:15px;'>              
                <strong data-ng-bind='error'></strong>
              </div>
            </div>

          </form>
        </h3>
      </div>
    </div>
  </div>
</div>