<div ng-hide="userLoggedIn">
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">
          <br>
          <h2>
            <center>You need to have a MYRUNTIME account in order to activate your race bibs. Click the button below to register using your Facebook account</center>
          </h2>
          <br>
          <a id="connect-login" href="/auth/facebook" class="fb_button_medium button">
            <center>
              <img src="/images/facebookLogin.png">
            </center>
          </a>
          <br>
          <h2>
            <center>We will not use  your facebook account for evil. We will however use your facebook information to give  you a more accurate result. </center>
          </h2>
          <br>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div ng-show="userLoggedIn">
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>Activate your Bib</h1>
        </div>
        <div class="col-md-3">
          <h3>Step 1: Enter your bib number and activation code</h3>
          <p>These can be found on your race bib. The photo below illustrates their locations.</p>
        </div>
        <div class="col-md-3">
          <h3>Step 2: Click on 'Activate'</h3>
          <p>Clicking on 'activate' sends your data to the MyRunTime servers for verification</p>
        </div>
        <div class="col-md-3">
          <h3>Activate your timing chip</h3>
          <p>Activating your timing chip allows MyRunTime to connect your results with your facebook friends who participated in the event</p>
        </div>
      </div>
    </div>
  </div>

  <div class="lightorange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <center>
            <h3>Location of bib number and activation code</h3>
            <p>The bib number is the large number on the your bib</p>
            <img src="/images/bib-270px.jpg">
            <p>The activation code is the alphanumeric code underneath your bib number</p>
          </center>
        </div>
        <div class="col-md-5">
          <h3>Bib Number</h3>
          <p>Enter the number on the bib</p>
          <input type="text" placeholder="Bib" ng-model='bibNumber' name="bibNumberText" style="font-size:60px; width:500px; height:80px; line-height:80px; text-align:left" >
          <br>
          <h3>Activation Code</h3>
          <p>Enter the activation code written on the bib</p>
          <input type="text" placeholder="Activation code" ng-model="activationCode" name="activationCode" style="font-size:60px; width:500px; height:80px; line-height:80px; text-align:left">
          <br>
          <br>
          <a ng-click="validateActivation()" class="btn btn-primary btn-lg">Activate</a>
        </div>
      </div>
    </div>
  </div>

  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>Why do I need to activate my chip?</h2>
          <p>This allows us to associate the timing chip to the correct runner. The use of the activation code also prevents other people from just claiming any bib number.</p>
          <p>Each activation code is unique for every event and bib.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>What if I don't want to activate my timing chip?</h2>
          <p>You may still use the timing chip normally. You would still get your official race results. However, you will be missing out on the exciting social features of MyRunTime.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div ng-hide="hasUser" id="middlewrap">
  <div class="white-container">
    <div class="container">
      <div class="row">
        <center>
          <h1>Why create a MyRunTime account?</h1>
        </center>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>Accurate Information</h2>
          <center>
            <img src="/images/250px-accurate-info.png">
          </center>
          <p style="text-align:justify;">Ever had a result where your name was misspelled? Or where you were assigned the wrong gender?</p>
          <p style="text-align:justify;">If you connect MyRunTime with your facebook account, MyRunTime would use the info you used in your facebook account for your race results.</p>
        </div>
        <div class="col-md-3">
          <h2>Get Notified</h2>
          <center>
            <img src="/images/250px-notification.png">
          </center>
          <p style="text-align:justify;">You no longer have to constantly check forums and websites after the race to see when results are available. As soon as the results for the race are made official, you will be notified through facebook of your race results. </p>
        </div>
        <div class="col-md-3">
          <h2>Compare with Friends</h2>
          <center>
            <img src="/images/250px-compare.png">
          </center>
          <p style="text-align:justify;">Easily check and compare your race results with your friends who participated in the same run. The more friends you have who have connected their facebook accounts to MyRunTime, the more people you can compare results with! </p>
        </div>
        <div class="col-md-3">
          <h2>Track Results</h2>
          <center>
            <img src="/images/250px-track-progress.png">
          </center>
          <p style="text-align:justify;">Once your facebook account is linked, all your succeeding runs that use MyRunTime will be associated with your facebook account. Now you can track your race performance over time.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>
