<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Contact MyRunTime</h1>
        <form role="form">

          <div class="form-group">
            <label for="inquiry" class="control-label">Inquiry:</label>
            <div class="controls">                            
              <select ng-model="inquiry" ng-options="inq.name for inq in inquiries" class="form-control" ng-change="changeInquiry()"></select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Name:</label>
            <div class="controls">
              <input type="text" placeholder="Name" ng-model="contactForm.name" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Email:</label>
            <div class="controls">
              <input type="text" placeholder="Email address" ng-model="contactForm.email" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="showEvent">
            <label for="eventName" class="control-label">Event Name:</label>
            <div class="controls">
              <select ng-model="eventName" ng-options="race.raceName for race in races" class="form-control">
              </select>
            </div>
          </div>

          <div ng-show="showBib" class="form-group">
            <label class="control-label">Bib Number:</label>
            <div class="controls">
              <input type="text" placeholder="Bib Number/s" ng-model="contactForm.bib" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="missingTimeInfo">
            <label class="control-label">Estimate Finish Time:</label>
            <div class="controls">
              <input type="text" placeholder="Fill in detail if possible" ng-model="contactForm.estimateFinish" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="missingTimeInfo">
            <label class="control-label">Running buddies you finished with:</label>
            <div class="controls">
              <input type="text" placeholder="Bib numbers of buddies you finished with" ng-model="contactForm.runningBuddies" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="wrongNameInfo">
            <label class="control-label">Correct Name:</label>
            <div class="controls">
              <input type="text" placeholder="Enter correct name/s here" ng-model="contactForm.correctName" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="activationInfo">
            <label class="control-label">Activation Code:</label>
            <div class="controls">
              <input type="text" placeholder="Activation code used" ng-model="contactForm.activationCode" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="activationInfo">
            <label class="control-label">Browser Used:</label>
            <div class="controls">
              <input type="text" placeholder="Internet Explorer / Google Chrome / Firefox / etc" ng-model="contactForm.browser" class="form-control">
            </div>
          </div>

          <div class="form-group" ng-show="activationInfo">
            <label class="control-label">Error message:</label>
            <div class="controls">
              <input type="text" placeholder="Error message displayed" ng-model="contactForm.errorMessage" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Feedback:</label>
            <div class="controls">
              <textarea type="textarea" rows="5" placeholder="Feedback" ng-model="contactForm.feedback" style="resize:none;" class="form-control"></textarea>
            </div>
          </div>

          <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>