<div class="orange-container">
  <div class="container text-justified-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h2>How do I create a MyRunTime account?</h2>
        <div class="col-md-12 col-offset-1">           
          <h3>Step 1: Go To MyRunTime Login Page</h3>
          <p>Click <b><a href="/login" title="www.myrunti.me/login">here&nbsp;</a></b>for the first step in creating a MyRunTime account using Facebook. Creating a MyRunTime account allows you to fully enjoy a complete social running experience on events that use the MyRunTime running platform. </p>
          <h3>Step 2: Click Login with Facebook Button</h3>
          <p>At the MyRuntime Login page, click the Login with Facebook Button. There is no need to create a separate account to join MyRunTime. Just use your existing Facebook account!</p><img src="/images/loginwithfacebook.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 3: Login using Facebook Details</h3>
          <p>
            &nbsp;&nbsp;
            Case A: Facebook is logged in as a different user. In this case, you first need to log out the user. Simply open another browser and logout from facebook.com. If the logged in Facebook user is already connected to MyRunTime, the page will be redirected to the user's profile. Logout the user from MyRunTime, then go back to Step 1, to create your own account.
          </p><img src="/images/logoutfrommyruntime.png" class="img-thumbnail img-responsive"><br><br>
          <p>
            &nbsp;&nbsp;
            Case B: You are logged out of Facebook. In this case, you will be forwarded to a Facebook Login Page. Simply provide your Facebook login details and click Log In.
          </p><img src="/images/fbredirectpage.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 4: Provide MyRunTime with Permissions</h3>
          <p>You will then be prompted twice to allow MyRunTime to access your Facebook information. The first is for MyRunTime to access your public profile (includes your name, friends list, email address, and personal description). Click okay to continue and allow MyRunTime to use this information. This step is required to continue with the registration of your MyRunTime account, but don't worry, MyRunTime will only use your facebook information to give you a more accurate result! <i class="smile icon"></i></p><img src="/images/fbpermissions1.png" class="img-thumbnail img-responsive"><br><br>
          <p>Finally, you will be prompted to allow MyRunTime to post your MyRunTime activities on your Facebook wall on your behalf. We recommend that you allow MyRunTime with this permission for you to enjoy the complete MyRunTime social running experience. However, if you choose not to, you could still continue with creating your MyRunTime account. Just click the skip button for this permission. </p><img src="/images/fbpermissions2.png" class="img-thumbnail img-responsive"><br><br>
          <p>And that's all, you now have a MyRunTime account! Easy, isn't it? Now on to connecting your bibs!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1"><br>
        <h2>How do I connect my race bib?</h2>
        <div class="col-md-12 col-offset-1">           
          <p>In order to connect your race bib, you must first have a MyRunTime Account. If you don't have one yet, check out FAQ number 1 for the details on how easy it is to create one! Also, make sure you have your race bib with you, as the activation details are written on it!</p>
          <h3>Step 1: Start Connecting!</h3>
          <p>Start connecting your bib! Either click Connect on the navigation bar, go to <b><a href="#/connect">myrunti.me/connect.</a></b></p><img src="/images/connect-nav-snapshot.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 2: Login to MyRunTime</h3>
          <p>You will not need this step if you are already logged in to MyRunTime. But if you are not yet logged in,  you will be redirected to the connect-login page. Click the Register for MyRunTime using Facebook button, then you will be forwarded to a Facebook Login Page. Supply your facebook log in details to log in to MyRunTime. </p><img src="/images/connect-login-snapshot.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 3: Make sure you're the person logged in!</h3>
          <p>You might have skipped step 2 if there is already a user logged in to MyRunTime. Just make sure that the user is you, as you might connect your bib to someone else! Check the navigation bar, it will indicate the first name of the logged-in user. If the person logged in is not you, log out of MyRunTime first, then repeat Step 1.</p><img src="/images/connect-logout-snapshot.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 4: Enter Bib and Activation code</h3>
          <p>You have your race bib with you, right? This is the part where you'll be needing it. On your race bib is your Bib Number, and below it is a unique 6 letter code. Supply the combination of your bib number and the activation code, then click the Connect button. Also, take note that the capitalization of the activation code is important, so double check it if the activation fails the first time. If all goes well, your bib should now be connected!</p><img src="/images/connect-activation-snapshot.png" class="img-thumbnail img-responsive"><br>
          <h3>Step 5: Share!</h3>
          <p>Once the activation is done, you have the option to share with your friends that you have successfully activated your bib for the run you are joining. Share the activity on Facebook, brag about it, and invite your friends to join you in the run as well! </p><img src="/images/connect-share-snapshot.png" class="img-thumbnail img-responsive">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1"><br>
        <h2>Why do I need to connect my race bib?</h2>
        <div class="col-md-12 col-offset-1">           
          <p>Connecting your race bib allows MyRunTime to correctly identify you as the owner of the particular bib. We use your MyRunTime profile to fetch your name, age, gender and other information. This ensures that your race results are accurate and complete. MyRunTime will also notify you on Facebook when the race results for your races are ready and available. </p>
          <p>Runners who connect their bibs also get the chance to have their race photos uploaded directly to their Facebook account when the race organizers partner up with MyRunTime approved photographers and photobooths. No longer do you have to scour thousands of photos  to look for your pictures during the race. With MyRunTime, your photos get uploaded directly to your Facebook profile.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1"><br>
        <h2>Where do I find the results for previous races?</h2>
        <div class="col-md-12 col-offset-1">           
          <p>Go to &nbsp;<b><a href="#/races">myrunti.me/races&nbsp;</a></b>to view the results of previous races powered by MyRunTime. MyRunTime members can also go to&nbsp;<b><a href="/me">myrunti.me/me&nbsp;</a></b>to see all their race results on the MyRunTime races they have joined.</p><img src="/images/prevruns-screenshot.png" class="img-thumbnail img-responsive">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1"><br>
        <h2>I am a race organizer. How do I use MyRunTime to power my race? </h2>
        <p>Go to <b><a href="#/contact">myrunti.me/contact&nbsp;</a></b>to send an inquiry to the MyRunTime team. </p>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>