<div class="blue-container noprint">
  <footer class="clearfix"></footer>
  <div class="container centered">
    <div class="row">
      <div class="col-md-4 col-sm-4 footer-entry">
        <p>Follow <strong>@MyRunTime </strong>on twitter for updates</p>
        
        <iframe src="http://platform.twitter.com/widgets/follow_button.1393899192.html#_=1395233559660&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=myruntime&amp;show_count=true&amp;show_screen_name=true&amp;size=m" style="width: 300px; height: 20px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>

        <div class="row">
          <div class="col-md-12 col-sm-12 footer-entry">
            <br>
            <style>
              .ig-b- { display: inline-block; }
              .ig-b- img { visibility: hidden; }
              .ig-b-:hover { background-position: 0 -60px; } 
              .ig-b-:active { background-position: 0 -120px; }
              .ig-b-v-24 { width: 137px; height: 24px;
              background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
              @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
            </style>

            <p>Follow <strong>@MyRunTime </strong>on Instagram</p>
            <a id="instagram-button" class="ig-b- ig-b-v-24" ng-click="openInstagramIframe('http://instagram.com/myruntime?ref=badge')">
              <img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram">
            </a>
            <div id="instagram-follower-count" style="display:none;" class="ui huge pointing left label">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 footer-entry" style="text-align:center;">
        <p style="text-align:center;">Like <strong>My Run Time  </strong>on Facebook for updates</p>

        <iframe id="fb-iframe" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyruntime&amp;amp;width=300&amp;amp;height=120&amp;amp;show_faces=true&amp;amp;colorscheme=light&amp;amp;stream=false&amp;amp;border_color=%234c453d&amp;amp;header=true&amp;amp;appId=353126178090062" scrolling="no" frameborder="0" style="border:#4c453d; overflow:hidden; width:300px; height:120px; background-color:#FFF" allowtransparency="true"></iframe>
      </div>

      <div class="col-md-4 col-sm-4 footer-entry">
        <div class="sitemap-footer">
          <p>Site map </p>
          <a href="#"><p>Home</p></a>
          <a href="#races"><p>List of Races</p></a>
          <a href="#faqs"><p>FAQs</p></a>          
          <a href="#login"><p>Login</p></a>
          <!--<a href="/about"><p>About</p></a>
          <a href="/privacy"><p>Privacy Policy</p></a>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 footer-entry">
        <br/>
        <p style="font-size:0.9em; text-align:center;">
        Copyright 2011-2013. Strider.
        <br/>
        Powered by <a href="http://www.itemhound.com/" target="_blank"> Itemhound Sports</a> and <a href="http://www.goorahna.me/" target="_blank"> Goorahna</a></p>
      </div>
    </div>
  </div>
</div>