<div>  
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>Recent Races</h1>
        </div>
        <div class="col-md-9">
          <div class="media" ng-repeat="race in races">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-7">
                <a class="pull-left" ng-href="#race/[[race.Model.raceNick]]">
                  <img class="img img-responsive glow media-object" style="width:460px" ng-src="/images/[[race.Model.racePhoto]]" onerror="this.src='/images/nophoto.png'">
                </a>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="media-body">
                  <a ng-href="#race/[[race.Model.raceNick]]">
                    <h3>[[race.Model.raceName]]</h3>
                  </a>
                  <p> [[race.Model.raceDate | date:'MMMM dd,yyyy' ]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>  
  <div class="white-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>Upcoming Races</h1>
        </div>
        <div class="col-md-9">
          <div class="media" ng-repeat="race in upcomingRaces">            
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-7">
                <a class="pull-left" ng-href="#race/[[race.Model.raceNick]]">
                  <img class="img img-responsive glow media-object" style="width:460px" ng-src="/images/[[race.Model.racePhoto]]" onerror="this.src='/images/nophoto.png'">
                </a>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="media-body">
                  <a ng-href="#race/[[race.Model.raceNick]]">
                    <h3>[[race.Model.raceName]]</h3>
                  </a>
                  <p> [[race.Model.raceDate | date:'MMMM dd,yyyy']]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>

<div id='floatinglikebutton' class="ui huge left labeled icon button" ng-click="openSegment()">
  <i class="facebook icon", style="color:white;"></i>
  <p> Like Us? </p>
</div>

<div id="sidelikesegment" style="display:none;" class="ui segment">
  <div class="closeSideSegment tiny white ui icon button" ng-click="closeSegment()">
    <i class="remove icon"></i>
  </div>
  <p class="sideSegmentText">Like <strong>My Run Time</strong> on Facebook for updates
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyruntime&amp;width=370&amp;height=270&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%234c453d&amp;header=true&amp;appId=353126178090062" scrolling="no" frameborder="0" style="border:#4c453d; overflow:hidden; width:370px; height:270px; background-color:#FFF" allowTransparency="true"></iframe>
  </p>
</div>
