<div>
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10">

          <h1>Upcoming Races </h1>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-5"> Race Name</th>
                  <th class="col-md-3"> Race Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="race in upcomingRaces">
                  <td class="col-md-6">
                    <a ng-href='#race/[[race.Model.raceNick]]'>
                      [[race.Model.raceName]]
                    </a> 
                  </td>
                  <td class="col-md-6">
                    <a ng-href='#race/[[race.Model.raceNick]]'>
                      [[race.Model.raceDate | date:'MMMM dd, yyyy']]
                    </a> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h1>Available Race Results</h1>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-5"> Race Name</th>
                  <th class="col-md-3"> Race Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="race in races">
                  <td class="col-md-6">
                    <a ng-href='#race/[[race.Model.raceNick]]'>
                      [[race.Model.raceName]]
                    </a> 
                  </td>
                  <td class="col-md-6">
                    <a ng-href='#race/[[race.Model.raceNick]]'>
                      [[race.Model.raceDate | date:'MMMM dd, yyyy']]
                    </a> 
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <button class="btn btn-primary" ng-click="loadMore()">Load More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>

<div id='floatinglikebutton' class="ui huge left labeled icon button" ng-click="openSegment()">
  <i class="facebook icon", style="color:white;"></i>
  <p> Like Us? </p>
</div>

<div id="sidelikesegment" style="display:none;" class="ui segment">
  <div class="closeSideSegment tiny white ui icon button" ng-click="closeSegment()">
    <i class="remove icon"></i>
  </div>
  <p class="sideSegmentText">Like <strong>My Run Time</strong> on Facebook for updates
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyruntime&amp;width=370&amp;height=270&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%234c453d&amp;header=true&amp;appId=353126178090062" scrolling="no" frameborder="0" style="border:#4c453d; overflow:hidden; width:370px; height:270px; background-color:#FFF" allowTransparency="true"></iframe>
  </p>
</div>
